{% extends "base.html" %}
{% block title %}Klant{% endblock %}
{% block content %}
<div class="form-group">
    <h1> Klant pagina</h1>
    <div>
        <h2>Maak een bestelling</h2>
        <form id="orderForm" method="POST">
            <div class="row form-row">
                <div class="form-group col-md-2">
                    <label for="period">Periode</label>
                    <input 
                        type="number" 
                        id="period" 
                        name="period" 
                        class="form-control" 
                        min="1" 
                        max="36" 
                        required="required">
                </div>
                <div class="form-group col-md-2">
                    <label for="type">Type</label>
                    <input 
                        type="text" 
                        id="type" 
                        name="type" 
                        class="form-control" 
                        required="required">
                </div>
                <div class="form-group col-md-2">
                    <label for="amount">Aantal</label>
                    <input 
                        type="number" 
                        id="amount" 
                        name="amount" 
                        class="form-control" 
                        min="1" 
                        max="2" 
                        required="required">
                </div>
                <div class="form-group col-md-3">
                    <div class="input-align">
                        <button type="submit" class="btn btn-primary">Bestelling plaatsen</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <h2>Bestellingen</h2>
    <table class="table table-hover table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type onderdeel</th>
                <th>Aantal</th>
                <th>Besteldatum</th>
                <th>Periode</th>
                <th>Verwachte leverperiode</th>
                <th>Werkelijke leverperiode</th>
                <th>Bestelling correct</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.item_type }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order_dates[order.id][0] if order.id in order_dates else 'N/A' }}</td>
                <td>{{ order_dates[order.id][1] if order.id in order_dates else 'N/A' }}</td>
                <td>{{ order_dates[order.id][1] + deliver_by if order.id in order_dates else 'N/A' }}</td>
                <td>{% if order.id in order_dates_finished %}{{ order_dates_finished[order.id] }}{% endif %}</td>
                <td class="text-center">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input correct-checkbox" type="checkbox" 
                            name="correct_{{ order.id }}" id="correct_{{ order.id }}"
                            data-order-id="{{ order.id }}" data-type="customer"
                            {% if order.customer_checked %} checked {% endif %}>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}